<!-- Jingo2 style : https://realpython.com/primer-on-jinja-templating/ -->
<html>
    <head>
      {% if title %}
      <title>{{ title }} - CME272 Warriors</title>
      {% else %}
      <title>CME272 Warriors</title>
      {% endif %}
    </head>
    <body>
        <div>Warriors Bookstore:  <!-- simplest way to show a nav bar -->
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('get_books') }}">Select Books</a>                   
        </div>

        <!-- to display flash messages -->
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- iterate through children blocks -->
        {% block content %}{% endblock %}
    </body>
</html>