<!-- Jingo2 style : https://realpython.com/primer-on-jinja-templating/ -->
<html>
    <head>
      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
      {% if title %}
      <title>{{ title }} - CME272 Warriors</title>
      {% else %}
      <title>CME272 Warriors</title>
      {% endif %}
    </head>
    <body>
        <body background="{{url_for('static', filename='gsw.jpeg')}}">    
        <div> <h3> <font color="FF0000">Warriors Bookstore:</font> </h3>  <!-- simplest way to show a nav bar -->
            <a href="{{ url_for('index') }}" > <font color="FF0000">Home</font> </a>
            {% if not g.user %}
                <a href="{{ url_for('login') }}"> <font color="FF0000"> Login / Register </font></a>
            {% else %}
                <a href="{{ url_for('get_books') }}"> <font color="FF0000"> Select Books</font></a>  
                <a href="{{ url_for('logout') }}"> <font color="FF0000"> Logout </font></a>  
            {% endif %}                 
        </div>

        <!-- to display flash messages -->
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><font color="FFFF00">{{ message }}</font></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- iterate through children blocks -->
        {% if not g.user %}
        <h1> Welcome Guest!</h1>
        {% else %}
        <h1> <font color="FFFF00"> Hi, {{ g.user.profile.firstName }}!</font></h1>
        {% endif %} 
        {% block content %}{% endblock %}
    </body>
</html>

            <!--  <a href="{{ url_for('get_order') }}">Order Quantity</a>  <!--  HIDDEN | Only for debugging -->
