<!-- Jingo2 style : https://realpython.com/primer-on-jinja-templating/ -->
<html>
    <head>
      {% if title %}
      <title>{{ title }} - CME272 Warriors</title>
      {% else %}
      <title>CME272 Warriors</title>
      {% endif %}
    </head>
    <body>
        <div>Warriors Bookstore:  <!-- simplest way to show a nav bar -->
            <a href="{{ url_for('index') }}">Home</a>
            {% if not g.user %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% else %}
                <a href="{{ url_for('get_books') }}">Select Books</a>  
                <a href="{{ url_for('logout') }}">Logout</a>  
            {% endif %}                 
        </div>

        <!-- to display flash messages -->
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- iterate through children blocks -->
        {% if not g.user %}
        <h1> Welcome Guest!</h1>
        {% else %}
        <h1>Hi, {{ g.user.profile.firstName }}!</h1>
        {% endif %} 
        {% block content %}{% endblock %}
    </body>
</html>

            <!--  <a href="{{ url_for('get_order') }}">Order Quantity</a>  <!--  HIDDEN | Only for debugging -->
