{% extends "base.html" %}

{% block content %} <!-- inputs: form, user, books -->
<h2> <font color="FFFF00">Confirm Order</font></h2>  
<form action="" method="post" novalidate>
        {{form.hidden_tag()}}
    <hr>
        <table>
            <tr>
                <th><font color="FFFF00">Book ISBN </font></th>
                <th><font color="FFFF00">Book Title</font></th>
                <th><font color="FFFF00">Quantity Required</font></th>
            </tr>
        {% for book in books_list %}
            <tr> 
                <td align="left"><font color="FFFF00">{{book.isbn}}</font></label></td>  
                <td align="left"><font color="FFFF00">{{book.title}}</font></td>  
                <td align="right"><font color="FFFF00">{{book.quantity}}</font> </td>
            </tr>
        {% endfor %}
        <tr> 
            <td></td>
            <td><h4>{{ form.submit() }}</h4></td>
            <td></td>
        </tr>
    
        </table>

</form>
{% endblock %}
